/********************************************
 **************** APPENDIX ****************
 ********************************************/
.appendix .math.display {
  font-weight: bold;
  text-align: center;
  display: block;
}

.appendix .math.inline {
  font-weight: bold;
}