/********************************************
 ******************* BASE *******************
 ********************************************/
:root {
    --md-theme-default-primary: #343f3e;
    --md-theme-default-primary-on-background: #94b0da;
    --md-theme-default-accent: #94b0da;
    --md-theme-default-accent-on-background: #94b0da;
}

body {
    width: 100%;
    height: 100%;
    background: #fafafa;
    font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cairo', sans-serif !important;
}

p {
    text-align: justify;
}

iframe, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

.note-block {
    color: #666;
    margin: 1.5em 0;
    padding: 8px 16px;
    overflow: hidden;
    font-style: italic;
    border-left: 4px solid #94b0da;
    background-color: var(--md-theme-default-note-blockvariant, #eee);
}

.md-dialog-content {
    flex-flow: column;
}

.md-toolbar-section-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1366px) {
    .md-app-scroller {
        margin-top: 20px;
        margin-left: 130px;
        margin-right: 130px;
    }
}

@media (min-width: 961px) {
    .md-small-show {
        display: none;
    }
}