/********************************************
 ******************* DEMO *******************
 ********************************************/
.evaluation .md-app {
    max-height: 100%;
    border: 1px solid rgba(#000, .12);
}

.evaluation .md-app-toolbar {
    height: 196px;
    background-color: #343f3e !important;
}

.evaluation .logo {
    height: auto;
    width: 6em;
    margin: 0;
    padding: 0;
}

.evaluation .md-app-content {
    height: auto;
}

.evaluation .md-card .chatbot {
    margin: 0 auto;
    max-width: 350px;
}

.evaluation .md-image.task-image {
    margin: 0 auto;
    max-width: 100%;
}

.evaluation .stepper-buttons {
    margin-top: 20px;
}

.evaluation .md-layout-item.md-size-50.md-small-size-100.task-image-container {
    padding-right: 0;
}

@media screen and (min-width: 1366px) {
    .evaluation .md-app-scroller {
        margin-left: 130px;
        margin-right: 130px;
    }
}