/********************************************
 ******************* HOME *******************
 ********************************************/
.home .md-app {
    max-height: 100%;
    border: 1px solid rgba(#000, .12);
}

.home .md-app-toolbar {
    min-height: 270px !important;
}

.home .md-app-content {
    height: auto;
}

.home .md-tabs {
    width: 100%;
}

.home .md-card .chatbot {
    margin: 0 auto;
    max-width: 350px;
}

.home .modules .md-steppers-wrapper {
    min-height: 500px;
}

.home .md-image-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.home .datasets .md-card,
.home .code .md-card {
    margin: 10px;
    max-width: 317px;
    min-width: 300px;
    height: fit-content;
}

.home .datasets .md-card.university {
    max-width: 317px;
    min-width: 300px;
}

.home .datasets .md-card-media,
.home .code .md-card-media {
    display: flex;
}

.home .datasets .md-card-media img,
.home .code .md-card-media img {
    max-width: 170px;
    max-height: 200px;
    min-height: 200px;
    margin: 0 auto;
    object-fit: contain;
}

.home .datasets .md-card-media img.logo {
    max-width: 70%;
    max-height: 250px;
    min-height: 250px;
    margin: 0 auto;
    object-fit: contain;
}

@media screen and (min-width: 1366px) {
    .md-toolbar {
        padding-left: 120px;
        padding-right: 120px;
    }
}