/********************************************
 **************** USER STUDY ****************
 ********************************************/
.study .md-app {
    max-height: 100%;
    border: 1px solid rgba(#000, .12);
}

.study .md-app-toolbar {
    height: 196px;
}

.study .logo {
    height: auto;
    width: 6em;
    margin: 0;
    padding: 0;
}

.study .md-app-content {
    height: auto;
}

.study .md-card .chatbot {
    margin: 0 auto;
    max-width: 350px;
}

.study .md-image.task-image {
    margin: 0 auto;
    max-width: 100%;
}

.study .md-steppers-wrapper {
    min-height: 850px;
}

.study .stepper-buttons {
    margin-top: 20px;
}

.study .md-layout-item.md-size-50.md-small-size-100.task-image-container {
    padding-right: 0;
}

@media screen and (min-width: 1366px) {
    .md-app-scroller {
        margin-left: 120px;
        margin-right: 120px;
    }
}